.node-girls-training-teaser {

  &__title {
    font-size: 24px;
  }

  &__link {
    color: cadetblue;

    &:hover {
      color: deepskyblue;
      cursor: pointer;
    }
  }

  &__field-girls-body-part {
    @include bodyPartAndTraining;
  }

  &__field-girls-type-of-training {
    border-bottom: 1px solid gray;
    @include bodyPartAndTraining;

  }

  .node__content {
    @include mobile {
      width: calc($container-max-mobile - 1rem);
    }
  }

  &__field-girls-exercises {
    @include fieldExercises;
  }

  &__total-weight {
    border-top: 1px solid gray;
  }
}