.node-training-plan-teaser {

  &__title {
    font-size: 24px;
    color: $color-active;
  }

  &__field-body-part {
    @include bodyPartAndTraining;
  }

  &__field-type-of-training {
    border-bottom: 1px solid gray;
    @include bodyPartAndTraining;

  }

  .node__content {
    @include mobile {
      width: calc($container-max-mobile - 1rem);
    }
  }

  &__field-exercises {
    @include fieldExercises;
  }

  &__total-weight {
    border-top: 1px solid gray;
  }
}