.block-kenny-stats, .block-kenny-girls-stats {
  @include mainContainer;

  @include mobileDefault {
    font-size: 14px;
  }

  .kenny-stats-date {
    display: inline-flex;
    width: 100%;

    @include mobileDefault {
      gap: 0.5rem;
      display: flex;
      justify-content: space-evenly;
    }

    input {
      display: inline-block;
      background: none;
      border: none;
      color: $color-date;
      padding: 0.3rem;

      &:hover {
        cursor: pointer;
        cursor: pointer;
        color: darken($color-date, 10%);
      }
    }
  }

  .kenny-stats-title {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
  }

  .measurements-container-stats {
    margin-bottom: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;

    @include mobileDefault {
      gap: 0.25rem;
      font-size: 12px;
    }

    .node-measurements-teaser__title {
      display: none;
      height: 1.5rem;

    }

    .result-measurements-container-stats {


      .kenny-stats-days-by-period {
        border-bottom: 1px solid gray;
        height: 1.5rem;
        color: $color-active;
      }

     .kenny-stats-body-part-by-period {
        height: 1.5rem;
        border-bottom: 1px solid gray;
      }

      .grow {
        color: $color-green-button;
      }

      .less {
        color: $color-red-button;
      }

    }

    .node__content {

      .node-measurements-teaser {
        display: flex;
        border-bottom: 1px solid gray;
        gap: 0.7rem;
        height: 1.5rem;

        @include mobileDefault {
          gap: 0.3rem;
        }

        .field__label {
          display: flex;
          position: relative;
          height: 1.5rem;


          &:after {
            position: relative;
            content: ":";
            left: 3px;
            @include mobile {
              left: 1px;
            }

          }
        }

        .field__item {
          color: $color-active;
          height: 1.5rem;

        }

        &__field-created {
          color: $color-active;
          height: 1.5rem;
        }

      }
    }
  }

  .create-a-new-measurement {
    color: $color-active;
    border: 1px solid gray;
    padding: 0.5rem;

    &:hover {
      color: $color-active-hover;
      cursor: pointer;
    }
  }

  .count-of-training {
    margin-top: 1rem;
    border-bottom: 1px solid gray;
    @include mobileDefault {
      font-size: 12px;

    }



    &__total-stats {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      @include mobileDefault {
        font-size: 12px;
      }

    }

    &__body-part {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @include mobileDefault {
        font-size: 12px;
      }
    }
  }

  .most-popular-exercises {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid gray;
    @include mobileDefault {
      font-size: 12px;
    }

    &__title {
      display: flex;
      justify-content: center;
      font-size: 1.3rem;

      @include mobileDefault {
        font-size: 1rem;
      }
    }
  }

  .stats-exercise-container {
    display: grid;
    grid-template-columns: 1fr 0.8fr;

    @include mobile {
      grid-template-columns: 1fr;
    }

    &__change-exercises {
      display: inline-flex;
      margin-top: 0.3rem;
      padding: 0.3rem;
      border: 1px solid gray;
      gap: 0.3rem;
      .links {
        display: inline-flex;
        @include resetLi;
        a {
          color: $color-active;

          &:hover {
            color: $color-active-hover;
          }
        }

      }
    }



    &__exercise {
      display: flex;
      flex-direction: column;

      &-body-part {
        font-size: 1.3rem;
        color: $color-active;
      }

      &-last, &-first {
        display: inline-flex;
        gap: 0.7rem;

        .field__item {
          display: flex;
          position: relative;

          &:not(:first-child):not(:last-child) {
            &:after {
              position: relative;
              content: "x";
              display: flex;
              justify-content: center;
              left: 0.4rem;

            }
          }
          &:first-child {
            &:after {
              position: relative;
              content: ":";
              display: flex;
              justify-content: center;
              left: 0.1rem;

            }
          }


        }
      }

      &-media {
        img {

          @include mobileLarge {
            width: auto;
            height: auto;
          }

          @include mobile {
            width: 100%;
            height: auto;
          }
        }
      }


    }
  }

}