

.block-kenny-tracker {

  @include mainContainer;
  margin-top: 2rem;
  @include mobile {
    display: none;
  }

  @include mobileDefault {
    font-size: 14px;
  }


  .tracker {


    &-container {
      border-bottom: 1px solid gray;

      &__title {
        display: flex;
        align-self: center;
        color: $color-active;
      }

      &__each {
        display: flex;
        align-self: center;
      }

      .grow {
        color: $color-green-button;
      }

      .decrease {
        color: $color-red-button;
      }
    }

    &__selected-fields {
      color: $color-active;
    }


  }
}

.block-kenny-new-tracker-warning-block {
  display: none;
  @include mobile {
    display: flex;
  }
  margin-top: 2rem;
}