.training-girls-block {
  max-width: calc($container-max + 2rem);
  border: 2px solid gray;
  border-radius: 2rem;
  padding: 2rem 1rem;
  margin: 0 auto;

  @include mobileDefault {
    max-width: $container-max-mobile;
    padding: 1rem 0.5rem;
  }

  .view-filters {

    form {
      display: inline-flex;
      border: 1px solid gray;
      padding: 0.5rem;
      border-radius: 1rem;
      @include mobile {
        display: grid;
        grid-template-columns: 3fr 3fr 1fr;
        padding: 0.25rem;
      }


      .form-item-field-girls-body-part-target-id {
        padding: 0.5rem;
        @include mobile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0.25rem;
        }

        .form-select {
          margin-left: 0.3rem;
          padding: 0.3rem;
          border-radius: 1rem;
          border: 1px solid gray;
          background-color: inherit;
          color: $color-text;

          @include mobile {
            padding: 0.15rem;
            margin-left: unset;
          }

          option {
            background-color: $color-bg;
            @include mobile {
              font-size: 12px;
            }
          }

          &:hover {
            border-color: greenyellow;
            cursor: pointer;
          }
        }
      }

      .form-item-field-girls-type-of-training-target-id {
        padding: 0.5rem;
        @include mobile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0.25rem;
        }

        .form-select {
          margin-left: 0.3rem;
          padding: 0.3rem;
          border-radius: 1rem;
          border: 1px solid gray;
          background-color: inherit;
          color: $color-text;

          @include mobile {
            padding: 0.15rem;
            margin-left: unset;
          }

          &:hover {
            border-color: greenyellow;
            cursor: pointer;
          }

          option {
            background-color: $color-bg;
          }
        }
      }
    }

    .form-wrapper {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      padding-right: 0.5rem;
      @include mobile {
        margin-left: unset;
        padding-right: unset;
        align-items: end;
        padding-bottom: 0.15rem;
        justify-content: center;
      }

      .form-submit {
        background: inherit;
        border: unset;
        padding: 0.4rem 1rem;
        border: 1px solid gray;
        border-radius: 1rem;
        color: $color-text;

        @include mobile {
          padding: 0.2rem 0.5rem;
        }

        &:hover {
          border-color: greenyellow;
          cursor: pointer;
        }
      }
    }
  }

  .view-content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}