@import "variables";
@import "breakpoints";
html {
  font-size: 16px;
  
}

body {
  font-family: $font-family;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dialog-off-canvas-main-canvas,
.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  padding: 24px $gutter-sm;
}

.container {
  width: 100%;
  max-width: $container-max + $gutter-sm * 2;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-sm;
  padding-right: $gutter-sm;
}

#views-exposed-form-set-timiline-page-set-timeline {
  display: none;
}

.hidden {
  display: none;
}

.app__footer {
  margin-top: 2rem!important;

  flex-direction: start;
  @include mainContainer;
  border: none;

  .region-footer {
    display: flex;
    gap: 3rem;

    .menu--account {

      .menu {
        @include resetLi;
        display: flex;
        gap: 1.5rem;

        a {
          color: $color-active;

          &:hover {
            color: $color-active-hover;
          }
        }

      }

    }
  }
}