@mixin resetLi{
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin scaleImage{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin bodyPartAndTraining {
  display: flex;
  position: relative;
  .field__label {
    margin-right: 0.7rem;
    @include mobile {
      margin-right: 0.35rem;
    }
    &:after {
      position: relative;
      content: ":";
      left: 3px;
      @include mobile {
        left: 1px;
      }
    }
  }

  .field__item {

    a {
      color: cadetblue;

      &:hover {
        color: deepskyblue;
      }
    }


  }
}