@mixin resetLi{
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin scaleImage{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin mainContainer {
  max-width: calc($container-max + 2rem);
  border: 2px solid gray;
  border-radius: 2rem;
  padding: 2rem 1rem;
  margin: 0 auto;

  @include mobileDefault {
    max-width: $container-max-mobile;
    padding: 1rem 0.5rem;
  }
}

@mixin bodyPartAndTraining {
  display: flex;
  position: relative;
  .field__label {
    margin-right: 0.7rem;
    @include mobile {
      margin-right: 0.35rem;
    }
    &:after {
      position: relative;
      content: ":";
      left: 3px;
      @include mobile {
        left: 1px;
      }
    }
  }

  .field__item {

    a {
      color: $color-active;

      &:hover {
        color: deepskyblue;
      }
    }


  }
}



@mixin newtrainingBlock {
  max-width: calc($container-max + 2rem);
  border: 2px solid gray;
  border-radius: 2rem;
  padding: 2rem 1rem;
  margin: 0 auto;

  @include mobileDefault {
    max-width: $container-max-mobile;
    padding: 1rem 0.5rem;
  }

  .view-filters {

    form {
      display: inline-flex;
      border: 1px solid gray;
      padding: 0.5rem;
      border-radius: 1rem;
      @include mobile {
        display: grid;
        grid-template-columns: 3fr 3fr 1fr;
        padding: 0.25rem;
      }


      .form-type-select {
        padding: 0.5rem;
        @include mobile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0.25rem;
        }

        .form-select {
          margin-left: 0.3rem;
          padding: 0.3rem;
          border-radius: 1rem;
          border: 1px solid gray;
          background-color: inherit;
          color: $color-text;

          @include mobile {
            padding: 0.15rem;
            margin-left: unset;
          }

          option {
            background-color: $color-bg;
            @include mobile {
              font-size: 12px;
            }
          }

          &:hover {
            border-color: greenyellow;
            cursor: pointer;
          }
        }
      }

    }

    .form-wrapper {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      padding-right: 0.5rem;
      @include mobile {
        margin-left: unset;
        padding-right: unset;
        align-items: end;
        padding-bottom: 0.15rem;
        justify-content: center;
      }

      .form-submit {
        background: inherit;
        border: unset;
        padding: 0.4rem 1rem;
        border: 1px solid gray;
        border-radius: 1rem;
        color: $color-text;

        @include mobile {
          padding: 0.2rem 0.5rem;
        }

        &:hover {
          border-color: greenyellow;
          cursor: pointer;
        }
      }
    }
  }

  .view-content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}

@mixin fieldExercises {
  display: flex;
  flex-direction: column;


  .field__item {

    .paragraph--view-mode--preview {
      display: inline-flex;
      flex-direction: row;
      gap: 0.3rem;
      width: 100%;

      @include mobileDefault {
        font-size: 14px;
        gap: 0.15rem;
      }


      .paragraph-field-exercise, .paragraph-field-girl-exercise {
        width: 200px;
        margin-right: 2rem;
        overflow: hidden;
        display: flex;
        position: relative;

        @include mobile {
          width: 35vw;
          margin-right: 0.15rem;
        }
      }

      .paragraph-field-weight, .paragraph-field-repetition {
        display: flex;
        position: relative;
        margin-right: 0.4rem;
        @include mobileDefault {
          margin-right: 0.1rem;
        }
        &:after {
          position: relative;
          content: "x";
          display: flex;
          justify-content: center;
          left: 0.4rem;
          @include mobileDefault {
            left: 0.1rem;
          }
        }
      }

      .paragraph-girl-training-preview__exercise-weight, .paragraph-man-preview__exercise-weight{
        display: flex;
        @include mobileLarge {
          display: none;
        }
      }

      .paragraph-girl-training-preview__difference-less, .paragraph-man-preview__difference-less {
        color: $color-red-button;
      }

      .paragraph-girl-training-preview__difference-grower, .paragraph-man-preview__difference-grower {
        color: $color-green-button;
      }

      .paragraph-field-approaches {
        display: flex;
        position: relative;
        margin-right: 0.4rem;
        @include mobileDefault {
          margin-right: 0.1rem;
        }
        &:after {
          position: relative;
          content: "|";
          left: 0.4rem;
          @include mobileDefault {
            left: 0.1rem;
          }
        }

      }


    }
  }
}
