// Colors

$color-text: #fff;
$color-text-heading: #fff;
$color-bg: #000000d9;
$color-bg-modal: rgb(197 204 255);
$color-bg-modal-two: rgb(203 196 144 / 53%);;
$color-black: #000;
$color-red-button: #BD3F32;
$color-green-button: #0f9b0f;
$color-violet: #6441A5;
$color-active: cadetblue;
$color-active-hover: deepskyblue;
$color-date: #4286f4;
$color-gray: gray;
// Fonts

$font-family: 'Poppins', sans-serif;

// Breakpoints

$spacing: 8px;
$gutter: $spacing * 2;
$gutter-sm: $spacing * 3;

$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1256px;

$container-max: 1170px;
$container-max-mobile: calc(100vw - 2rem);
$container-max-mobile-large: calc(100vw - 2rem);
