.app {
  background: $color-bg;

  &__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

  }
}

.tabs .primary {
  @include resetLi;
  @include mainContainer;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  .is-active {
    color: $color-active;
  }
}

.links {
  @include resetLi;
}

.layout-builder {
  color: $color-black;
}