html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dialog-off-canvas-main-canvas,
.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  padding: 24px 24px;
}

.container {
  width: 100%;
  max-width: 1218px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.25;
  font-weight: 600;
  color: #fff;
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.app__content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.main-layout__inner {
  overflow: hidden;
  margin-top: 2rem;
}

.region-header {
  display: flex;
  flex-direction: row;
  max-width: calc(1170px + 2rem);
  padding: 0 1rem;
  margin: 0 auto;
  height: 100px;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}
.region-header .block-system-branding-block {
  display: flex;
  align-items: center;
}
.region-header .menu--main {
  display: flex;
  align-items: center;
}
.region-header .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 2rem;
}
.region-header .menu-item {
  padding: 0.3rem 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
}
.region-header .menu-item:hover {
  border-color: cadetblue;
  cursor: pointer;
}

.app {
  background: rgba(0, 0, 0, 0.8509803922);
}
.app__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.node-training-plan-teaser__title {
  font-size: 24px;
}
.node-training-plan-teaser__link {
  color: cadetblue;
}
.node-training-plan-teaser__link:hover {
  color: deepskyblue;
  cursor: pointer;
}
.node-training-plan-teaser__field-body-part {
  display: flex;
  position: relative;
}
.node-training-plan-teaser__field-body-part .field__label {
  margin-right: 0.7rem;
}
@media (max-width: 600px) {
  .node-training-plan-teaser__field-body-part .field__label {
    margin-right: 0.35rem;
  }
}
.node-training-plan-teaser__field-body-part .field__label:after {
  position: relative;
  content: ":";
  left: 3px;
}
@media (max-width: 600px) {
  .node-training-plan-teaser__field-body-part .field__label:after {
    left: 1px;
  }
}
.node-training-plan-teaser__field-body-part .field__item a {
  color: cadetblue;
}
.node-training-plan-teaser__field-body-part .field__item a:hover {
  color: deepskyblue;
}
.node-training-plan-teaser__field-type-of-training {
  border-bottom: 1px solid gray;
  display: flex;
  position: relative;
}
.node-training-plan-teaser__field-type-of-training .field__label {
  margin-right: 0.7rem;
}
@media (max-width: 600px) {
  .node-training-plan-teaser__field-type-of-training .field__label {
    margin-right: 0.35rem;
  }
}
.node-training-plan-teaser__field-type-of-training .field__label:after {
  position: relative;
  content: ":";
  left: 3px;
}
@media (max-width: 600px) {
  .node-training-plan-teaser__field-type-of-training .field__label:after {
    left: 1px;
  }
}
.node-training-plan-teaser__field-type-of-training .field__item a {
  color: cadetblue;
}
.node-training-plan-teaser__field-type-of-training .field__item a:hover {
  color: deepskyblue;
}
@media (max-width: 600px) {
  .node-training-plan-teaser .node__content {
    width: calc(100vw - 2rem - 1rem);
  }
}
.node-training-plan-teaser__field-exercises {
  display: flex;
  flex-direction: column;
}
.node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview {
  display: inline-flex;
  flex-direction: row;
  gap: 0.3rem;
}
@media (max-width: 1200px) {
  .node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview {
    gap: 0.15rem;
  }
}
.node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-exercise {
  width: 200px;
  margin-right: 2rem;
  overflow: hidden;
  display: flex;
  position: relative;
}
@media (max-width: 600px) {
  .node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-exercise {
    width: 45vw;
    margin-right: 0.25rem;
  }
}
.node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-weight, .node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-repetition {
  display: flex;
  position: relative;
  margin-right: 0.4rem;
}
@media (max-width: 1200px) {
  .node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-weight, .node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-repetition {
    margin-right: 0.1rem;
  }
}
.node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-weight:after, .node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-repetition:after {
  position: relative;
  content: "x";
  left: 0.4rem;
}
@media (max-width: 1200px) {
  .node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-weight:after, .node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-repetition:after {
    left: 0.1rem;
  }
}
.node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-approaches {
  display: flex;
  position: relative;
  margin-right: 0.4rem;
}
@media (max-width: 1200px) {
  .node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-approaches {
    margin-right: 0.1rem;
  }
}
.node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-approaches:after {
  position: relative;
  content: "|";
  left: 0.4rem;
}
@media (max-width: 1200px) {
  .node-training-plan-teaser__field-exercises .field__item .paragraph--view-mode--preview .paragraph-field-approaches:after {
    left: 0.1rem;
  }
}
.node-training-plan-teaser__total-weight {
  border-top: 1px solid gray;
}

.view-training-page-training {
  max-width: calc(1170px + 2rem);
  border: 2px solid gray;
  border-radius: 2rem;
  padding: 2rem 1rem;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .view-training-page-training {
    max-width: calc(100vw - 2rem);
    padding: 1rem 0.5rem;
  }
}
.view-training-page-training .view-filters form {
  display: inline-flex;
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 1rem;
}
@media (max-width: 600px) {
  .view-training-page-training .view-filters form {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    padding: 0.25rem;
  }
}
.view-training-page-training .view-filters form .form-item-field-body-part-target-id {
  padding: 0.5rem;
}
@media (max-width: 600px) {
  .view-training-page-training .view-filters form .form-item-field-body-part-target-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem;
  }
}
.view-training-page-training .view-filters form .form-item-field-body-part-target-id .form-select {
  margin-left: 0.3rem;
  padding: 0.3rem;
  border-radius: 1rem;
  border: 1px solid gray;
  background-color: inherit;
  color: #fff;
}
@media (max-width: 600px) {
  .view-training-page-training .view-filters form .form-item-field-body-part-target-id .form-select {
    padding: 0.15rem;
    margin-left: unset;
  }
}
.view-training-page-training .view-filters form .form-item-field-body-part-target-id .form-select option {
  background-color: rgba(0, 0, 0, 0.8509803922);
}
@media (max-width: 600px) {
  .view-training-page-training .view-filters form .form-item-field-body-part-target-id .form-select option {
    font-size: 12px;
  }
}
.view-training-page-training .view-filters form .form-item-field-body-part-target-id .form-select:hover {
  border-color: greenyellow;
  cursor: pointer;
}
.view-training-page-training .view-filters form .form-item-field-type-of-training-target-id {
  padding: 0.5rem;
}
@media (max-width: 600px) {
  .view-training-page-training .view-filters form .form-item-field-type-of-training-target-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem;
  }
}
.view-training-page-training .view-filters form .form-item-field-type-of-training-target-id .form-select {
  margin-left: 0.3rem;
  padding: 0.3rem;
  border-radius: 1rem;
  border: 1px solid gray;
  background-color: inherit;
  color: #fff;
}
@media (max-width: 600px) {
  .view-training-page-training .view-filters form .form-item-field-type-of-training-target-id .form-select {
    padding: 0.15rem;
    margin-left: unset;
  }
}
.view-training-page-training .view-filters form .form-item-field-type-of-training-target-id .form-select:hover {
  border-color: greenyellow;
  cursor: pointer;
}
.view-training-page-training .view-filters form .form-item-field-type-of-training-target-id .form-select option {
  background-color: rgba(0, 0, 0, 0.8509803922);
}
.view-training-page-training .view-filters .form-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 600px) {
  .view-training-page-training .view-filters .form-wrapper {
    margin-left: unset;
    padding-right: unset;
    align-items: end;
    padding-bottom: 0.15rem;
    justify-content: center;
  }
}
.view-training-page-training .view-filters .form-wrapper .form-submit {
  background: inherit;
  border: unset;
  padding: 0.4rem 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  color: #fff;
}
@media (max-width: 600px) {
  .view-training-page-training .view-filters .form-wrapper .form-submit {
    padding: 0.2rem 0.5rem;
  }
}
.view-training-page-training .view-filters .form-wrapper .form-submit:hover {
  border-color: greenyellow;
  cursor: pointer;
}
.view-training-page-training .view-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 600px) {
  .view-training-page-training .view-content {
    grid-template-columns: 1fr;
  }
}