.app__content {
  max-width: calc($container-max + 2rem);
  margin: 0 auto;

  @include mobileDefault {
    max-width: $container-max-mobile;
  }

  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.main-layout__inner {
  overflow: hidden;
  margin-top: 2rem;

}

.add-favorite {
  margin: 0;
  background: none;
  cursor: pointer;
  color: $color-green-button;
  text-decoration: none;
  display: inline-block;
  outline: none;
  padding: 4px 6px;
  border-radius: 7px;
  margin-top: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($color-green-button, 18%);
    color: $color-text;
  }

  &:active {
    transform: scale(0.95);
  }
}

.remove-favorite {
  margin: 0;
  background: none;
  cursor: pointer;
  color: $color-red-button;
  text-decoration: none;
  display: inline-block;
  outline: none;
  padding: 4px 6px;
  border-radius: 7px;
  margin-top: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($color-red-button, 18%);
    color: $color-text
  }

  &:active {
    transform: scale(0.95);
  }
}

.js-pager__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  @include resetLi;
}