@charset "UTF-8";

// TEST THEME FOR DRUPAL 10

// Base
@import "base/breakpoints";
@import "base/variables";
@import "base/mixins";
@import "base/layouts";
@import "base/typography";

// Components

// Block



// Comment



// Content
@import "components/content/content";



// Footer



// Form



// Header
@import "components/header/header";


// Layout
@import "components/layout/app";



// Media



// Node
@import "components/node/node-training-plan-teaser";


// Pages



// Paragraph



// Taxonomy



// Theme



// Views
@import "components/views/view-training";