@charset "UTF-8";

// TEST THEME FOR DRUPAL 10

// Base
@import "base/breakpoints";
@import "base/variables";
@import "base/mixins";
@import "base/layouts";
@import "base/typography";

// Components

// Block

@import "components/block/kenny-girls-training-plan-form";
@import "components/block/kenny-hero-block";
@import "components/block/kenny-hero-block-training-body-part";
@import "components/block/training-girls-block";

// Comment



// Content
@import "components/content/content";



// Footer



// Form



// Header
@import "components/header/header";


// Layout
@import "components/layout/app";



// Media

@import "components/media/media-page-exercises-girls";

// Node
@import "components/node/node-training-plan-teaser";
@import "components/node/node-girls-training-teaser";


// Pages



// Paragraph



// Taxonomy



// Theme



// Views
@import "components/views/view-training";
@import "components/views/view-girls-training";